.js-on-extensions-loaders-w432 {
    height: auto;
}

.ex-vk-tpls-btn {
    margin-top: 8px;
    margin-left: 3px;
    display: inline-block;
}

#public_tpls_list .sort_helper {
    border-bottom: none !important;
}

#public_tpls_list .group_l_restore {
    padding-left: 5px;
}

.wdd_lwrap {
    z-index: 200;
}